<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yun2win.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52A415EE1DAD029A00882BA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596FA8DD1C32344D00599FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596FA8F61C32344D00599FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596FA9011C32344D00599FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
